.navbar-light {
  height: 70px;
  display: flex;
  position: fixed;
  z-index: 100;
  width: 100%;
  justify-content: space-between;
  font-weight: 600;
  
  --contentWidth: 1340px;
  padding: 2rem calc((100% - var(--contentWidth)) / 2);
}

.logo {
  max-height: 40px;
  max-width: 124px;
}

.navbar-light .navbar-nav >.nav-link, 
.navbar-light .navbar-nav .nav-link, 
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .show>.nav-link {
  color: black;
  padding: 0.5rem 1rem;
  height: 40px;
  justify-content: center;
  margin: auto;
}

.navbar-light-body {
  background-color: white;
  justify-content: center;
  margin: auto;
}

.navbar-light.active .navbar-nav >.nav-link, 
.navbar-light.active .navbar-nav .nav-link, 
.navbar-light.active .navbar-nav .nav-link.show, 
.navbar-light.active .navbar-nav .show>.nav-link {
  color: white;
}

.navbar-light .navbar-nav >.nav-link:hover, 
.navbar-light .navbar-nav .nav-link:hover, 
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .show>.nav-link:hover {
  color: black;
  border-bottom: 2px solid black;
}

.navbar-light.active .navbar-nav >.nav-link:hover, 
.navbar-light.active .navbar-nav .nav-link:hover, 
.navbar-light.active .navbar-nav .nav-link.show, 
.navbar-light.active .navbar-nav .show>.nav-link:hover {
  color: white;
  border-bottom: 2px solid white;
}

.navbar-light .navbar-nav .active>.nav-link, 
.navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .show>.nav-link {
  color: #3A7AE3;
  border-bottom: none;
}

.navbar-light.active .navbar-nav .active>.nav-link, 
.navbar-light.active .navbar-nav .nav-link.active, 
.navbar-light.active .navbar-nav .nav-link.show, 
.navbar-light.active .navbar-nav .show>.nav-link {
  color: #3A7AE3;
  border-bottom: none;
}

@media screen and (max-width: 960px) {
  .navbar {
    margin-left: 0px;
    margin-right: 0px;
  }

  .navbar-light .navbar-nav >.nav-link, 
  .navbar-light .navbar-nav .nav-link, 
  .navbar-light .navbar-nav .nav-link.show, 
  .navbar-light .navbar-nav .show>.nav-link {
    background-color: white;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%;
  }

}