.section-about {
    margin-left: 80px;
    padding-top: 70px;
    padding-bottom: 80px;
    letter-spacing: 1px;
    width: 90%;
    max-width: 100%;

}

.border-title {
    border-top: 4px solid #3A7AE3;
    width: 60px;
    position: absolute;
    left: 4%;
}

.col-title-about {
    padding-top: 28px;
}

.col-desc-about {
    padding-left: 1.7rem;
    padding-right: 2rem;
    padding-bottom: 20px;
}

.col-val {
    padding-left: 1rem;
    margin-top: 20px;
}

.values {
    font-size: 24px;
    font-weight: 600;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    margin-right: 32px;
    border-left: 4px solid #3A7AE3;
    background-color: #F2F2F2;
}

h1 {
    font-size: 32px;
    font-weight: 600;
}

p {
    font-size: 24px;
    font-weight: 400;
}