.section-client {
    max-width: 1440px;
    padding-top: 80px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 35px;
    letter-spacing: 0.1rem;
}

.row-title-clients {
    padding-top: 25px;
    padding-bottom: 30px;
    justify-content: center;
}

.nav-tabs {
    width: 100%;
    font-weight: 300;
    font-size: 16px;
    justify-content: center;
}

.nav-link {
    color: #828282;
    padding: 16px 23px 16px 23px;
    align-items: stretch;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 0;
}

.nav-tabs .nav-link {
    margin-bottom: 0;
    border: 0;
}

.nav-tabs .nav-item.show .nav-link, 
.nav-tabs .nav-link.active {
    color: #3A7AE3;
    background-color: #F2F2F2;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 3px solid #3A7AE3;
}

.nav-tabs .nav-item.show .nav-link, 
.nav-tabs .nav-link:hover {
    color: #828282;
    border-left: none;
    border-right: none;
    border-top: none;
    margin-bottom: 0;
}

.tab-content {
    width: 100%;
    padding: 42px;
    justify-content: center;
    align-items: stretch;
    display: flex;
    flex-wrap: nowrap;

}

.clients {
    padding: 0 20px 48px 20px;
}