.slide {
    margin: auto;
    height: 600px;
    width: 900px;
    border-radius: 5px;
    padding-top: 80px;
    padding-bottom: 80px;
    align-content: center;
}

.desc-about-company {
    text-align: center;
    font-size: 16px;
    line-height: 160%;
}

.detail-about {
    padding: 80px 0 80px 0;
}

.border-title-company {
    border-top: 4px solid #3A7AE3;
    width: 60px;
    position: absolute;
    /* left: 4%; */
}

.subtitle {
    font-size: 24px;
    font-weight: 600;
    padding-top: 15px;
    padding-bottom: 15px;
    /* padding-left: 20px; */
    margin-right: 32px;
}

.detail-text {
    /* padding-left: 20px; */
    text-align: left;
    font-size: 16px;
    line-height: 160%;
}

.border-title-member {
    border-top: 4px solid #3A7AE3;
    width: 60px;
    position: absolute;
    /* left: 2.1%; */
}